body {padding-top: 70px;} 

.circle {
	border-radius:50%;
	/*color: black;*/
  display:table;
  border-width: 1px;
  border-style: solid;
	height: fit-content;
	/*font-weight: bold;*/
	/*font-size: 1.2em;*/
	width: auto;
	margin:0 auto;
}

.circle span {
  display:table-cell;
  vertical-align:middle;
  height:50px;
  width:50px;
	text-align:center;
	/*padding: 0 15px;*/
}
